# 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
master_df = pd.read_csv('./result/product_master.csv', sep="|")

In [3]:
master_df

,category_code,p_group,unit,price,m_code,p_name,date,description,p_code
0,AGR-A0001,사과,1개,1500,T1,"사과(부사, 300g)",2022-06-24,국내산 부사,AR000001
1,AGR-A0002,사과,1개(300g),2225,M1,"사과(부사, 300g)",2022-06-24,국내산 4개 8900원,AR000002
2,AGR-A0002,사과,1개(300g),1998,M2,"사과(부사, 300g)",2022-06-24,국내산 5개 9990원,AR000003
3,AGR-A0002,사과,1개(300g),1000,T2,"사과(부사, 300g)",2022-06-24,국내산,AR000004
4,AGR-A0002,사과,1개(300g),2225,M1,"사과(부사, 300g)",2022-06-24,국내산 4개 8900원,AR000002
...,...,...,...,...,...,...,...,...,...
146049,AGR-I0001,호박,1개,2000,T30,호박,2018-01-29,하우스,AR032400
146050,AGR-I0001,호박,1개,2430,M41,호박(인큐베이터),2018-01-29,진주,AR032347
146051,AGR-J0001,쌀,1포대(20kg),65000,T28,쌀,2021-12-30,"국내산,경기미",AR032525
146052,AGR-J0002,쌀,1포(4KG),23500,M28,쌀,2021-12-30,경기미(골드퀸),AR032526
146053,AGR-J0003,쌀,1포대(10kg),43900,M12,쌀,2021-12-23,"국내산,철원,오대미",AR032527

In [4]:
price_df = pd.DataFrame()

In [5]:
price_df['id'] = [ i+1 for i in range(len(master_df))]

In [6]:
price_df['date'] = master_df['date']
price_df['price'] = master_df['price']
price_df['p_code'] = master_df['p_code']

# 상품 가격 csv 저장

In [7]:
price_df.to_csv('./result/price_retail.csv', index=False)

In [8]:
price_df

            id        date  price    p_code
0            1  2022-06-24   1500  AR000001
1            2  2022-06-24   2225  AR000002
2            3  2022-06-24   1998  AR000003
3            4  2022-06-24   1000  AR000004
4            5  2022-06-24   2225  AR000002
...        ...         ...    ...       ...
146049  146050  2018-01-29   2000  AR032400
146050  146051  2018-01-29   2430  AR032347
146051  146052  2021-12-30  65000  AR032525
146052  146053  2021-12-30  23500  AR032526
146053  146054  2021-12-23  43900  AR032527

[146054 rows x 4 columns]

# DB에 데이터 저장

In [9]:
import pymysql

db = pymysql.connect(host="db-1.cnt4cbkbsgdt.us-east-1.rds.amazonaws.com",
                     port=3306,
                     user='admin',
                     passwd='12345678',
                     db='public_api',
                     charset='utf8')

cursor = db.cursor()

# 상품 데이터 삽입
for idx, row in price_df.iterrows():
    if idx <= 12397:
        continue
    sql = f"INSERT INTO price VALUES({row[0]},'{row[1]}',{row[2]},'{row[3]}')"
    cursor.execute(sql)
    db.commit()

    if idx % 100 == 0:
        print(f"{idx} 번째 row insert 완료")

12400 번째 row insert 완료
12500 번째 row insert 완료
12600 번째 row insert 완료
12700 번째 row insert 완료
12800 번째 row insert 완료
12900 번째 row insert 완료
13000 번째 row insert 완료
13100 번째 row insert 완료
13200 번째 row insert 완료
13300 번째 row insert 완료
13400 번째 row insert 완료
13500 번째 row insert 완료
13600 번째 row insert 완료
13700 번째 row insert 완료
13800 번째 row insert 완료
13900 번째 row insert 완료
14000 번째 row insert 완료
14100 번째 row insert 완료
14200 번째 row insert 완료
14300 번째 row insert 완료
14400 번째 row insert 완료
14500 번째 row insert 완료
14600 번째 row insert 완료
14700 번째 row insert 완료
14800 번째 row insert 완료
14900 번째 row insert 완료
15000 번째 row insert 완료
15100 번째 row insert 완료
15200 번째 row insert 완료
15300 번째 row insert 완료
15400 번째 row insert 완료
15500 번째 row insert 완료
15600 번째 row insert 완료
15700 번째 row insert 완료
15800 번째 row insert 완료
15900 번째 row insert 완료
16000 번째 row insert 완료
16100 번째 row insert 완료
16200 번째 row insert 완료
16300 번째 row insert 완료
16400 번째 row insert 완료
16500 번째 row insert 완료
16600 번째 row insert 완료
16700 번째 row insert 완료
16800 번째 row insert 완료
16900 번째 row insert 완료
17000 번째 row insert 완료
17100 번째 row insert 완료
17200 번째 row insert 완료
17300 번째 row insert 완료
17400 번째 row insert 완료
17500 번째 row insert 완료
17600 번째 row insert 완료
17700 번째 row insert 완료
17800 번째 row insert 완료
17900 번째 row insert 완료
18000 번째 row insert 완료
18100 번째 row insert 완료
18200 번째 row insert 완료
18300 번째 row insert 완료
18400 번째 row insert 완료
18500 번째 row insert 완료
18600 번째 row insert 완료
18700 번째 row insert 완료
18800 번째 row insert 완료
18900 번째 row insert 완료
19000 번째 row insert 완료
19100 번째 row insert 완료
19200 번째 row insert 완료
19300 번째 row insert 완료
19400 번째 row insert 완료
19500 번째 row insert 완료
19600 번째 row insert 완료
19700 번째 row insert 완료
19800 번째 row insert 완료
19900 번째 row insert 완료
20000 번째 row insert 완료
20100 번째 row insert 완료
20200 번째 row insert 완료
20300 번째 row insert 완료
20400 번째 row insert 완료
20500 번째 row insert 완료
20600 번째 row insert 완료
20700 번째 row insert 완료
20800 번째 row insert 완료
20900 번째 row insert 완료
21000 번째 row insert 완료
21100 번째 row insert 완료
21200 번째 row insert 완료
21300 번째 row insert 완료
21400 번째 row insert 완료
21500 번째 row insert 완료
21600 번째 row insert 완료
21700 번째 row insert 완료
21800 번째 row insert 완료
21900 번째 row insert 완료
22000 번째 row insert 완료
22100 번째 row insert 완료
22200 번째 row insert 완료
22300 번째 row insert 완료
22400 번째 row insert 완료
22500 번째 row insert 완료
22600 번째 row insert 완료
22700 번째 row insert 완료
22800 번째 row insert 완료
22900 번째 row insert 완료
23000 번째 row insert 완료
23100 번째 row insert 완료
23200 번째 row insert 완료
23300 번째 row insert 완료
23400 번째 row insert 완료
23500 번째 row insert 완료
23600 번째 row insert 완료
23700 번째 row insert 완료
23800 번째 row insert 완료
23900 번째 row insert 완료
24000 번째 row insert 완료
24100 번째 row insert 완료
24200 번째 row insert 완료
24300 번째 row insert 완료
24400 번째 row insert 완료
24500 번째 row insert 완료
24600 번째 row insert 완료
24700 번째 row insert 완료
24800 번째 row insert 완료
24900 번째 row insert 완료
25000 번째 row insert 완료
25100 번째 row insert 완료
25200 번째 row insert 완료
25300 번째 row insert 완료
25400 번째 row insert 완료
25500 번째 row insert 완료
25600 번째 row insert 완료
25700 번째 row insert 완료
25800 번째 row insert 완료
25900 번째 row insert 완료
26000 번째 row insert 완료
26100 번째 row insert 완료
26200 번째 row insert 완료
26300 번째 row insert 완료
26400 번째 row insert 완료
26500 번째 row insert 완료
26600 번째 row insert 완료
26700 번째 row insert 완료
26800 번째 row insert 완료
26900 번째 row insert 완료
27000 번째 row insert 완료
27100 번째 row insert 완료
27200 번째 row insert 완료
27300 번째 row insert 완료
27400 번째 row insert 완료
27500 번째 row insert 완료
27600 번째 row insert 완료
27700 번째 row insert 완료
27800 번째 row insert 완료
27900 번째 row insert 완료
28000 번째 row insert 완료
28100 번째 row insert 완료
28200 번째 row insert 완료
28300 번째 row insert 완료
28400 번째 row insert 완료
28500 번째 row insert 완료
28600 번째 row insert 완료
28700 번째 row insert 완료
28800 번째 row insert 완료
28900 번째 row insert 완료
29000 번째 row insert 완료
29100 번째 row insert 완료
29200 번째 row insert 완료
29300 번째 row insert 완료
29400 번째 row insert 완료
29500 번째 row insert 완료
29600 번째 row insert 완료
29700 번째 row insert 완료
29800 번째 row insert 완료
29900 번째 row insert 완료
30000 번째 row insert 완료
30100 번째 row insert 완료
30200 번째 row insert 완료
30300 번째 row insert 완료
30400 번째 row insert 완료
30500 번째 row insert 완료
30600 번째 row insert 완료
30700 번째 row insert 완료
30800 번째 row insert 완료
30900 번째 row insert 완료
31000 번째 row insert 완료
31100 번째 row insert 완료
31200 번째 row insert 완료
31300 번째 row insert 완료
31400 번째 row insert 완료
31500 번째 row insert 완료
31600 번째 row insert 완료
31700 번째 row insert 완료
31800 번째 row insert 완료
31900 번째 row insert 완료
32000 번째 row insert 완료
32100 번째 row insert 완료
32200 번째 row insert 완료
32300 번째 row insert 완료
32400 번째 row insert 완료
32500 번째 row insert 완료
32600 번째 row insert 완료
32700 번째 row insert 완료
32800 번째 row insert 완료
32900 번째 row insert 완료
33000 번째 row insert 완료
33100 번째 row insert 완료
33200 번째 row insert 완료
33300 번째 row insert 완료
33400 번째 row insert 완료
33500 번째 row insert 완료
33600 번째 row insert 완료
33700 번째 row insert 완료
33800 번째 row insert 완료
33900 번째 row insert 완료
34000 번째 row insert 완료
34100 번째 row insert 완료
34200 번째 row insert 완료
34300 번째 row insert 완료
34400 번째 row insert 완료
34500 번째 row insert 완료
34600 번째 row insert 완료
34700 번째 row insert 완료
34800 번째 row insert 완료
34900 번째 row insert 완료
35000 번째 row insert 완료
35100 번째 row insert 완료
35200 번째 row insert 완료
35300 번째 row insert 완료
35400 번째 row insert 완료
35500 번째 row insert 완료
35600 번째 row insert 완료
35700 번째 row insert 완료
35800 번째 row insert 완료
35900 번째 row insert 완료
36000 번째 row insert 완료
36100 번째 row insert 완료
36200 번째 row insert 완료
36300 번째 row insert 완료
36400 번째 row insert 완료
36500 번째 row insert 완료
36600 번째 row insert 완료
36700 번째 row insert 완료
36800 번째 row insert 완료
36900 번째 row insert 완료
37000 번째 row insert 완료
37100 번째 row insert 완료
37200 번째 row insert 완료
37300 번째 row insert 완료
37400 번째 row insert 완료
37500 번째 row insert 완료
37600 번째 row insert 완료
37700 번째 row insert 완료
37800 번째 row insert 완료
37900 번째 row insert 완료
38000 번째 row insert 완료
38100 번째 row insert 완료
38200 번째 row insert 완료
38300 번째 row insert 완료
38400 번째 row insert 완료
38500 번째 row insert 완료
38600 번째 row insert 완료
38700 번째 row insert 완료
38800 번째 row insert 완료
38900 번째 row insert 완료
39000 번째 row insert 완료
39100 번째 row insert 완료
39200 번째 row insert 완료
39300 번째 row insert 완료
39400 번째 row insert 완료
39500 번째 row insert 완료
39600 번째 row insert 완료
39700 번째 row insert 완료
39800 번째 row insert 완료
39900 번째 row insert 완료
40000 번째 row insert 완료
40100 번째 row insert 완료
40200 번째 row insert 완료
40300 번째 row insert 완료
40400 번째 row insert 완료
40500 번째 row insert 완료
40600 번째 row insert 완료
40700 번째 row insert 완료
40800 번째 row insert 완료
40900 번째 row insert 완료
41000 번째 row insert 완료
41100 번째 row insert 완료
41200 번째 row insert 완료
41300 번째 row insert 완료
41400 번째 row insert 완료
41500 번째 row insert 완료
41600 번째 row insert 완료
41700 번째 row insert 완료
41800 번째 row insert 완료
41900 번째 row insert 완료
42000 번째 row insert 완료
42100 번째 row insert 완료
42200 번째 row insert 완료
42300 번째 row insert 완료
42400 번째 row insert 완료
42500 번째 row insert 완료
42600 번째 row insert 완료
42700 번째 row insert 완료
42800 번째 row insert 완료
42900 번째 row insert 완료
43000 번째 row insert 완료
43100 번째 row insert 완료
43200 번째 row insert 완료
43300 번째 row insert 완료
43400 번째 row insert 완료
43500 번째 row insert 완료
43600 번째 row insert 완료
43700 번째 row insert 완료
43800 번째 row insert 완료
43900 번째 row insert 완료
44000 번째 row insert 완료
44100 번째 row insert 완료
44200 번째 row insert 완료
44300 번째 row insert 완료
44400 번째 row insert 완료
44500 번째 row insert 완료
44600 번째 row insert 완료
44700 번째 row insert 완료
44800 번째 row insert 완료
44900 번째 row insert 완료
45000 번째 row insert 완료
45100 번째 row insert 완료
45200 번째 row insert 완료
45300 번째 row insert 완료
45400 번째 row insert 완료
45500 번째 row insert 완료
45600 번째 row insert 완료
45700 번째 row insert 완료
45800 번째 row insert 완료
45900 번째 row insert 완료
46000 번째 row insert 완료
46100 번째 row insert 완료
46200 번째 row insert 완료
46300 번째 row insert 완료
46400 번째 row insert 완료
46500 번째 row insert 완료
46600 번째 row insert 완료
46700 번째 row insert 완료
46800 번째 row insert 완료
46900 번째 row insert 완료
47000 번째 row insert 완료
47100 번째 row insert 완료
47200 번째 row insert 완료
47300 번째 row insert 완료
47400 번째 row insert 완료
47500 번째 row insert 완료
47600 번째 row insert 완료
47700 번째 row insert 완료
47800 번째 row insert 완료
47900 번째 row insert 완료
48000 번째 row insert 완료

48100 번째 row insert 완료
48200 번째 row insert 완료
48300 번째 row insert 완료
48400 번째 row insert 완료
48500 번째 row insert 완료
48600 번째 row insert 완료
48700 번째 row insert 완료
48800 번째 row insert 완료
48900 번째 row insert 완료
49000 번째 row insert 완료
49100 번째 row insert 완료
49200 번째 row insert 완료
49300 번째 row insert 완료
49400 번째 row insert 완료
49500 번째 row insert 완료
49600 번째 row insert 완료
49700 번째 row insert 완료
49800 번째 row insert 완료
49900 번째 row insert 완료
50000 번째 row insert 완료
50100 번째 row insert 완료
50200 번째 row insert 완료
50300 번째 row insert 완료
50400 번째 row insert 완료
50500 번째 row insert 완료
50600 번째 row insert 완료
50700 번째 row insert 완료
50800 번째 row insert 완료
50900 번째 row insert 완료
51000 번째 row insert 완료
51100 번째 row insert 완료
51200 번째 row insert 완료
51300 번째 row insert 완료
51400 번째 row insert 완료
51500 번째 row insert 완료
51600 번째 row insert 완료
51700 번째 row insert 완료
51800 번째 row insert 완료
51900 번째 row insert 완료
52000 번째 row insert 완료
52100 번째 row insert 완료
52200 번째 row insert 완료
52300 번째 row insert 완료
52400 번째 row insert 완료
52500 번째 row insert 완료
52600 번째 row insert 완료
52700 번째 row insert 완료
52800 번째 row insert 완료
52900 번째 row insert 완료
53000 번째 row insert 완료
53100 번째 row insert 완료
53200 번째 row insert 완료
53300 번째 row insert 완료
53400 번째 row insert 완료
53500 번째 row insert 완료
53600 번째 row insert 완료
53700 번째 row insert 완료
53800 번째 row insert 완료
53900 번째 row insert 완료
54000 번째 row insert 완료
54100 번째 row insert 완료
54200 번째 row insert 완료
54300 번째 row insert 완료
54400 번째 row insert 완료
54500 번째 row insert 완료
54600 번째 row insert 완료
54700 번째 row insert 완료
54800 번째 row insert 완료
54900 번째 row insert 완료
55000 번째 row insert 완료
55100 번째 row insert 완료
55200 번째 row insert 완료
55300 번째 row insert 완료
55400 번째 row insert 완료
55500 번째 row insert 완료
55600 번째 row insert 완료
55700 번째 row insert 완료
55800 번째 row insert 완료
55900 번째 row insert 완료
56000 번째 row insert 완료
56100 번째 row insert 완료
56200 번째 row insert 완료
56300 번째 row insert 완료
56400 번째 row insert 완료
56500 번째 row insert 완료
56600 번째 row insert 완료
56700 번째 row insert 완료
56800 번째 row insert 완료
56900 번째 row insert 완료
57000 번째 row insert 완료
57100 번째 row insert 완료
57200 번째 row insert 완료
57300 번째 row insert 완료
57400 번째 row insert 완료
57500 번째 row insert 완료
57600 번째 row insert 완료
57700 번째 row insert 완료
57800 번째 row insert 완료
57900 번째 row insert 완료
58000 번째 row insert 완료
58100 번째 row insert 완료
58200 번째 row insert 완료
58300 번째 row insert 완료
58400 번째 row insert 완료
58500 번째 row insert 완료
58600 번째 row insert 완료
58700 번째 row insert 완료
58800 번째 row insert 완료
58900 번째 row insert 완료
59000 번째 row insert 완료
59100 번째 row insert 완료
59200 번째 row insert 완료
59300 번째 row insert 완료
59400 번째 row insert 완료
59500 번째 row insert 완료
59600 번째 row insert 완료
59700 번째 row insert 완료
59800 번째 row insert 완료
59900 번째 row insert 완료
60000 번째 row insert 완료
60100 번째 row insert 완료
60200 번째 row insert 완료
60300 번째 row insert 완료
60400 번째 row insert 완료
60500 번째 row insert 완료
60600 번째 row insert 완료
60700 번째 row insert 완료
60800 번째 row insert 완료
60900 번째 row insert 완료
61000 번째 row insert 완료
61100 번째 row insert 완료
61200 번째 row insert 완료
61300 번째 row insert 완료
61400 번째 row insert 완료
61500 번째 row insert 완료
61600 번째 row insert 완료
61700 번째 row insert 완료
61800 번째 row insert 완료
61900 번째 row insert 완료
62000 번째 row insert 완료
62100 번째 row insert 완료
62200 번째 row insert 완료
62300 번째 row insert 완료
62400 번째 row insert 완료
62500 번째 row insert 완료
62600 번째 row insert 완료
62700 번째 row insert 완료
62800 번째 row insert 완료
62900 번째 row insert 완료
63000 번째 row insert 완료
63100 번째 row insert 완료
63200 번째 row insert 완료
63300 번째 row insert 완료
63400 번째 row insert 완료
63500 번째 row insert 완료
63600 번째 row insert 완료
63700 번째 row insert 완료
63800 번째 row insert 완료
63900 번째 row insert 완료
64000 번째 row insert 완료
64100 번째 row insert 완료
64200 번째 row insert 완료
64300 번째 row insert 완료
64400 번째 row insert 완료
64500 번째 row insert 완료
64600 번째 row insert 완료
64700 번째 row insert 완료
64800 번째 row insert 완료
64900 번째 row insert 완료
65000 번째 row insert 완료
65100 번째 row insert 완료
65200 번째 row insert 완료
65300 번째 row insert 완료
65400 번째 row insert 완료
65500 번째 row insert 완료
65600 번째 row insert 완료
65700 번째 row insert 완료
65800 번째 row insert 완료
65900 번째 row insert 완료
66000 번째 row insert 완료
66100 번째 row insert 완료
66200 번째 row insert 완료
66300 번째 row insert 완료
66400 번째 row insert 완료
66500 번째 row insert 완료
66600 번째 row insert 완료
66700 번째 row insert 완료
66800 번째 row insert 완료
66900 번째 row insert 완료
67000 번째 row insert 완료
67100 번째 row insert 완료
67200 번째 row insert 완료
67300 번째 row insert 완료
67400 번째 row insert 완료
67500 번째 row insert 완료
67600 번째 row insert 완료
67700 번째 row insert 완료
67800 번째 row insert 완료
67900 번째 row insert 완료
68000 번째 row insert 완료
68100 번째 row insert 완료
68200 번째 row insert 완료
68300 번째 row insert 완료
68400 번째 row insert 완료
68500 번째 row insert 완료
68600 번째 row insert 완료
68700 번째 row insert 완료
68800 번째 row insert 완료
68900 번째 row insert 완료
69000 번째 row insert 완료
69100 번째 row insert 완료
69200 번째 row insert 완료
69300 번째 row insert 완료
69400 번째 row insert 완료
69500 번째 row insert 완료
69600 번째 row insert 완료
69700 번째 row insert 완료
69800 번째 row insert 완료
69900 번째 row insert 완료
70000 번째 row insert 완료
70100 번째 row insert 완료
70200 번째 row insert 완료
70300 번째 row insert 완료
70400 번째 row insert 완료
70500 번째 row insert 완료
70600 번째 row insert 완료
70700 번째 row insert 완료
70800 번째 row insert 완료
70900 번째 row insert 완료
71000 번째 row insert 완료
71100 번째 row insert 완료
71200 번째 row insert 완료
71300 번째 row insert 완료
71400 번째 row insert 완료
71500 번째 row insert 완료
71600 번째 row insert 완료
71700 번째 row insert 완료
71800 번째 row insert 완료
71900 번째 row insert 완료
72000 번째 row insert 완료
72100 번째 row insert 완료
72200 번째 row insert 완료
72300 번째 row insert 완료
72400 번째 row insert 완료
72500 번째 row insert 완료
72600 번째 row insert 완료
72700 번째 row insert 완료
72800 번째 row insert 완료
72900 번째 row insert 완료
73000 번째 row insert 완료
73100 번째 row insert 완료
73200 번째 row insert 완료
73300 번째 row insert 완료
73400 번째 row insert 완료
73500 번째 row insert 완료
73600 번째 row insert 완료
73700 번째 row insert 완료
73800 번째 row insert 완료
73900 번째 row insert 완료
74000 번째 row insert 완료
74100 번째 row insert 완료
74200 번째 row insert 완료
74300 번째 row insert 완료
74400 번째 row insert 완료
74500 번째 row insert 완료
74600 번째 row insert 완료
74700 번째 row insert 완료
74800 번째 row insert 완료
74900 번째 row insert 완료
75000 번째 row insert 완료
75100 번째 row insert 완료
75200 번째 row insert 완료
75300 번째 row insert 완료
75400 번째 row insert 완료
75500 번째 row insert 완료
75600 번째 row insert 완료
75700 번째 row insert 완료
75800 번째 row insert 완료
75900 번째 row insert 완료
76000 번째 row insert 완료
76100 번째 row insert 완료
76200 번째 row insert 완료
76300 번째 row insert 완료
76400 번째 row insert 완료
76500 번째 row insert 완료
76600 번째 row insert 완료
76700 번째 row insert 완료
76800 번째 row insert 완료
76900 번째 row insert 완료
77000 번째 row insert 완료
77100 번째 row insert 완료
77200 번째 row insert 완료
77300 번째 row insert 완료
77400 번째 row insert 완료
77500 번째 row insert 완료
77600 번째 row insert 완료
77700 번째 row insert 완료
77800 번째 row insert 완료
77900 번째 row insert 완료
78000 번째 row insert 완료
78100 번째 row insert 완료
78200 번째 row insert 완료
78300 번째 row insert 완료
78400 번째 row insert 완료
78500 번째 row insert 완료
78600 번째 row insert 완료
78700 번째 row insert 완료
78800 번째 row insert 완료
78900 번째 row insert 완료
79000 번째 row insert 완료
79100 번째 row insert 완료
79200 번째 row insert 완료
79300 번째 row insert 완료
79400 번째 row insert 완료
79500 번째 row insert 완료
79600 번째 row insert 완료
79700 번째 row insert 완료
79800 번째 row insert 완료
79900 번째 row insert 완료
80000 번째 row insert 완료
80100 번째 row insert 완료
80200 번째 row insert 완료
80300 번째 row insert 완료
80400 번째 row insert 완료
80500 번째 row insert 완료
80600 번째 row insert 완료
80700 번째 row insert 완료
80800 번째 row insert 완료
80900 번째 row insert 완료
81000 번째 row insert 완료
81100 번째 row insert 완료
81200 번째 row insert 완료
81300 번째 row insert 완료
81400 번째 row insert 완료
81500 번째 row insert 완료
81600 번째 row insert 완료
81700 번째 row insert 완료
81800 번째 row insert 완료
81900 번째 row insert 완료
82000 번째 row insert 완료
82100 번째 row insert 완료
82200 번째 row insert 완료
82300 번째 row insert 완료
82400 번째 row insert 완료
82500 번째 row insert 완료
82600 번째 row insert 완료
82700 번째 row insert 완료
82800 번째 row insert 완료
82900 번째 row insert 완료
83000 번째 row insert 완료
83100 번째 row insert 완료
83200 번째 row insert 완료
83300 번째 row insert 완료
83400 번째 row insert 완료
83500 번째 row insert 완료
83600 번째 row insert 완료
83700 번째 row insert 완료

83800 번째 row insert 완료
83900 번째 row insert 완료
84000 번째 row insert 완료
84100 번째 row insert 완료
84200 번째 row insert 완료
84300 번째 row insert 완료
84400 번째 row insert 완료
84500 번째 row insert 완료
84600 번째 row insert 완료
84700 번째 row insert 완료
84800 번째 row insert 완료
84900 번째 row insert 완료
85000 번째 row insert 완료
85100 번째 row insert 완료
85200 번째 row insert 완료
85300 번째 row insert 완료
85400 번째 row insert 완료
85500 번째 row insert 완료
85600 번째 row insert 완료
85700 번째 row insert 완료
85800 번째 row insert 완료
85900 번째 row insert 완료
86000 번째 row insert 완료
86100 번째 row insert 완료
86200 번째 row insert 완료
86300 번째 row insert 완료
86400 번째 row insert 완료
86500 번째 row insert 완료
86600 번째 row insert 완료
86700 번째 row insert 완료
86800 번째 row insert 완료
86900 번째 row insert 완료
87000 번째 row insert 완료
87100 번째 row insert 완료
87200 번째 row insert 완료
87300 번째 row insert 완료
87400 번째 row insert 완료
87500 번째 row insert 완료
87600 번째 row insert 완료
87700 번째 row insert 완료
87800 번째 row insert 완료
87900 번째 row insert 완료
88000 번째 row insert 완료
88100 번째 row insert 완료
88200 번째 row insert 완료
88300 번째 row insert 완료
88400 번째 row insert 완료
88500 번째 row insert 완료
88600 번째 row insert 완료
88700 번째 row insert 완료
88800 번째 row insert 완료
88900 번째 row insert 완료
89000 번째 row insert 완료
89100 번째 row insert 완료
89200 번째 row insert 완료
89300 번째 row insert 완료
89400 번째 row insert 완료
89500 번째 row insert 완료
89600 번째 row insert 완료
89700 번째 row insert 완료
89800 번째 row insert 완료
89900 번째 row insert 완료
90000 번째 row insert 완료
90100 번째 row insert 완료
90200 번째 row insert 완료
90300 번째 row insert 완료
90400 번째 row insert 완료
90500 번째 row insert 완료
90600 번째 row insert 완료
90700 번째 row insert 완료
90800 번째 row insert 완료
90900 번째 row insert 완료
91000 번째 row insert 완료
91100 번째 row insert 완료
91200 번째 row insert 완료
91300 번째 row insert 완료
91400 번째 row insert 완료
91500 번째 row insert 완료
91600 번째 row insert 완료
91700 번째 row insert 완료
91800 번째 row insert 완료
91900 번째 row insert 완료
92000 번째 row insert 완료
92100 번째 row insert 완료
92200 번째 row insert 완료
92300 번째 row insert 완료
92400 번째 row insert 완료
92500 번째 row insert 완료
92600 번째 row insert 완료
92700 번째 row insert 완료
92800 번째 row insert 완료
92900 번째 row insert 완료
93000 번째 row insert 완료
93100 번째 row insert 완료
93200 번째 row insert 완료
93300 번째 row insert 완료
93400 번째 row insert 완료
93500 번째 row insert 완료
93600 번째 row insert 완료
93700 번째 row insert 완료
93800 번째 row insert 완료
93900 번째 row insert 완료
94000 번째 row insert 완료
94100 번째 row insert 완료
94200 번째 row insert 완료
94300 번째 row insert 완료
94400 번째 row insert 완료
94500 번째 row insert 완료
94600 번째 row insert 완료
94700 번째 row insert 완료
94800 번째 row insert 완료
94900 번째 row insert 완료
95000 번째 row insert 완료
95100 번째 row insert 완료
95200 번째 row insert 완료
95300 번째 row insert 완료
95400 번째 row insert 완료
95500 번째 row insert 완료
95600 번째 row insert 완료
95700 번째 row insert 완료
95800 번째 row insert 완료
95900 번째 row insert 완료
96000 번째 row insert 완료
96100 번째 row insert 완료
96200 번째 row insert 완료
96300 번째 row insert 완료
96400 번째 row insert 완료
96500 번째 row insert 완료
96600 번째 row insert 완료
96700 번째 row insert 완료
96800 번째 row insert 완료
96900 번째 row insert 완료
97000 번째 row insert 완료
97100 번째 row insert 완료
97200 번째 row insert 완료
97300 번째 row insert 완료
97400 번째 row insert 완료
97500 번째 row insert 완료
97600 번째 row insert 완료
97700 번째 row insert 완료
97800 번째 row insert 완료
97900 번째 row insert 완료
98000 번째 row insert 완료
98100 번째 row insert 완료
98200 번째 row insert 완료
98300 번째 row insert 완료
98400 번째 row insert 완료
98500 번째 row insert 완료
98600 번째 row insert 완료
98700 번째 row insert 완료
98800 번째 row insert 완료
98900 번째 row insert 완료
99000 번째 row insert 완료
99100 번째 row insert 완료
99200 번째 row insert 완료
99300 번째 row insert 완료
99400 번째 row insert 완료
99500 번째 row insert 완료
99600 번째 row insert 완료
99700 번째 row insert 완료
99800 번째 row insert 완료
99900 번째 row insert 완료
100000 번째 row insert 완료
100100 번째 row insert 완료
100200 번째 row insert 완료
100300 번째 row insert 완료
100400 번째 row insert 완료
100500 번째 row insert 완료
100600 번째 row insert 완료
100700 번째 row insert 완료
100800 번째 row insert 완료
100900 번째 row insert 완료
101000 번째 row insert 완료
101100 번째 row insert 완료
101200 번째 row insert 완료
101300 번째 row insert 완료
101400 번째 row insert 완료
101500 번째 row insert 완료
101600 번째 row insert 완료
101700 번째 row insert 완료
101800 번째 row insert 완료
101900 번째 row insert 완료
102000 번째 row insert 완료
102100 번째 row insert 완료
102200 번째 row insert 완료
102300 번째 row insert 완료
102400 번째 row insert 완료
102500 번째 row insert 완료
102600 번째 row insert 완료
102700 번째 row insert 완료
102800 번째 row insert 완료
102900 번째 row insert 완료
103000 번째 row insert 완료
103100 번째 row insert 완료
103200 번째 row insert 완료
103300 번째 row insert 완료
103400 번째 row insert 완료
103500 번째 row insert 완료
103600 번째 row insert 완료
103700 번째 row insert 완료
103800 번째 row insert 완료
103900 번째 row insert 완료
104000 번째 row insert 완료
104100 번째 row insert 완료
104200 번째 row insert 완료
104300 번째 row insert 완료
104400 번째 row insert 완료
104500 번째 row insert 완료
104600 번째 row insert 완료
104700 번째 row insert 완료
104800 번째 row insert 완료
104900 번째 row insert 완료
105000 번째 row insert 완료
105100 번째 row insert 완료
105200 번째 row insert 완료
105300 번째 row insert 완료
105400 번째 row insert 완료
105500 번째 row insert 완료
105600 번째 row insert 완료
105700 번째 row insert 완료
105800 번째 row insert 완료
105900 번째 row insert 완료
106000 번째 row insert 완료
106100 번째 row insert 완료
106200 번째 row insert 완료
106300 번째 row insert 완료
106400 번째 row insert 완료
106500 번째 row insert 완료
106600 번째 row insert 완료
106700 번째 row insert 완료
106800 번째 row insert 완료
106900 번째 row insert 완료
107000 번째 row insert 완료
107100 번째 row insert 완료
107200 번째 row insert 완료
107300 번째 row insert 완료
107400 번째 row insert 완료
107500 번째 row insert 완료
107600 번째 row insert 완료
107700 번째 row insert 완료
107800 번째 row insert 완료
107900 번째 row insert 완료
108000 번째 row insert 완료
108100 번째 row insert 완료
108200 번째 row insert 완료
108300 번째 row insert 완료
108400 번째 row insert 완료
108500 번째 row insert 완료
108600 번째 row insert 완료
108700 번째 row insert 완료
108800 번째 row insert 완료
108900 번째 row insert 완료
109000 번째 row insert 완료
109100 번째 row insert 완료
109200 번째 row insert 완료
109300 번째 row insert 완료
109400 번째 row insert 완료
109500 번째 row insert 완료
109600 번째 row insert 완료
109700 번째 row insert 완료
109800 번째 row insert 완료
109900 번째 row insert 완료
110000 번째 row insert 완료
110100 번째 row insert 완료
110200 번째 row insert 완료
110300 번째 row insert 완료
110400 번째 row insert 완료
110500 번째 row insert 완료
110600 번째 row insert 완료
110700 번째 row insert 완료
110800 번째 row insert 완료
110900 번째 row insert 완료
111000 번째 row insert 완료
111100 번째 row insert 완료
111200 번째 row insert 완료
111300 번째 row insert 완료
111400 번째 row insert 완료
111500 번째 row insert 완료
111600 번째 row insert 완료
111700 번째 row insert 완료
111800 번째 row insert 완료
111900 번째 row insert 완료
112000 번째 row insert 완료
112100 번째 row insert 완료
112200 번째 row insert 완료
112300 번째 row insert 완료
112400 번째 row insert 완료
112500 번째 row insert 완료
112600 번째 row insert 완료
112700 번째 row insert 완료
112800 번째 row insert 완료
112900 번째 row insert 완료
113000 번째 row insert 완료
113100 번째 row insert 완료
113200 번째 row insert 완료
113300 번째 row insert 완료
113400 번째 row insert 완료
113500 번째 row insert 완료
113600 번째 row insert 완료
113700 번째 row insert 완료
113800 번째 row insert 완료
113900 번째 row insert 완료
114000 번째 row insert 완료
114100 번째 row insert 완료
114200 번째 row insert 완료
114300 번째 row insert 완료
114400 번째 row insert 완료
114500 번째 row insert 완료
114600 번째 row insert 완료
114700 번째 row insert 완료
114800 번째 row insert 완료
114900 번째 row insert 완료
115000 번째 row insert 완료
115100 번째 row insert 완료
115200 번째 row insert 완료
115300 번째 row insert 완료
115400 번째 row insert 완료
115500 번째 row insert 완료
115600 번째 row insert 완료
115700 번째 row insert 완료
115800 번째 row insert 완료
115900 번째 row insert 완료
116000 번째 row insert 완료
116100 번째 row insert 완료
116200 번째 row insert 완료
116300 번째 row insert 완료
116400 번째 row insert 완료
116500 번째 row insert 완료
116600 번째 row insert 완료
116700 번째 row insert 완료
116800 번째 row insert 완료
116900 번째 row insert 완료
117000 번째 row insert 완료
117100 번째 row insert 완료
117200 번째 row insert 완료
117300 번째 row insert 완료
117400 번째 row insert 완료
117500 번째 row insert 완료
117600 번째 row insert 완료
117700 번째 row insert 완료
117800 번째 row insert 완료
117900 번째 row insert 완료
118000 번째 row insert 완료
118100 번째 row insert 완료
118200 번째 row insert 완료
118300 번째 row insert 완료
118400 번째 row insert 완료
118500 번째 row insert 완료
118600 번째 row insert 완료

118700 번째 row insert 완료
118800 번째 row insert 완료
118900 번째 row insert 완료
119000 번째 row insert 완료
119100 번째 row insert 완료
119200 번째 row insert 완료
119300 번째 row insert 완료
119400 번째 row insert 완료
119500 번째 row insert 완료
119600 번째 row insert 완료
119700 번째 row insert 완료
119800 번째 row insert 완료
119900 번째 row insert 완료
120000 번째 row insert 완료
120100 번째 row insert 완료
120200 번째 row insert 완료
120300 번째 row insert 완료
120400 번째 row insert 완료
120500 번째 row insert 완료
120600 번째 row insert 완료
120700 번째 row insert 완료
120800 번째 row insert 완료
120900 번째 row insert 완료
121000 번째 row insert 완료
121100 번째 row insert 완료
121200 번째 row insert 완료
121300 번째 row insert 완료
121400 번째 row insert 완료
121500 번째 row insert 완료
121600 번째 row insert 완료
121700 번째 row insert 완료
121800 번째 row insert 완료
121900 번째 row insert 완료
122000 번째 row insert 완료
122100 번째 row insert 완료
122200 번째 row insert 완료
122300 번째 row insert 완료
122400 번째 row insert 완료
122500 번째 row insert 완료
122600 번째 row insert 완료
122700 번째 row insert 완료
122800 번째 row insert 완료
122900 번째 row insert 완료
123000 번째 row insert 완료
123100 번째 row insert 완료
123200 번째 row insert 완료
123300 번째 row insert 완료
123400 번째 row insert 완료
123500 번째 row insert 완료
123600 번째 row insert 완료
123700 번째 row insert 완료
123800 번째 row insert 완료
123900 번째 row insert 완료
124000 번째 row insert 완료
124100 번째 row insert 완료
124200 번째 row insert 완료
124300 번째 row insert 완료
124400 번째 row insert 완료
124500 번째 row insert 완료
124600 번째 row insert 완료
124700 번째 row insert 완료
124800 번째 row insert 완료
124900 번째 row insert 완료
125000 번째 row insert 완료
125100 번째 row insert 완료
125200 번째 row insert 완료
125300 번째 row insert 완료
125400 번째 row insert 완료
125500 번째 row insert 완료
125600 번째 row insert 완료
125700 번째 row insert 완료
125800 번째 row insert 완료
125900 번째 row insert 완료
126000 번째 row insert 완료
126100 번째 row insert 완료
126200 번째 row insert 완료
126300 번째 row insert 완료
126400 번째 row insert 완료
126500 번째 row insert 완료
126600 번째 row insert 완료
126700 번째 row insert 완료
126800 번째 row insert 완료
126900 번째 row insert 완료
127000 번째 row insert 완료
127100 번째 row insert 완료
127200 번째 row insert 완료
127300 번째 row insert 완료
127400 번째 row insert 완료
127500 번째 row insert 완료
127600 번째 row insert 완료
127700 번째 row insert 완료
127800 번째 row insert 완료
127900 번째 row insert 완료
128000 번째 row insert 완료
128100 번째 row insert 완료
128200 번째 row insert 완료
128300 번째 row insert 완료
128400 번째 row insert 완료
128500 번째 row insert 완료
128600 번째 row insert 완료
128700 번째 row insert 완료
128800 번째 row insert 완료
128900 번째 row insert 완료
129000 번째 row insert 완료
129100 번째 row insert 완료
129200 번째 row insert 완료
129300 번째 row insert 완료
129400 번째 row insert 완료
129500 번째 row insert 완료
129600 번째 row insert 완료
129700 번째 row insert 완료
129800 번째 row insert 완료
129900 번째 row insert 완료
130000 번째 row insert 완료
130100 번째 row insert 완료
130200 번째 row insert 완료
130300 번째 row insert 완료
130400 번째 row insert 완료
130500 번째 row insert 완료
130600 번째 row insert 완료
130700 번째 row insert 완료
130800 번째 row insert 완료
130900 번째 row insert 완료
131000 번째 row insert 완료
131100 번째 row insert 완료
131200 번째 row insert 완료
131300 번째 row insert 완료
131400 번째 row insert 완료
131500 번째 row insert 완료
131600 번째 row insert 완료
131700 번째 row insert 완료
131800 번째 row insert 완료
131900 번째 row insert 완료
132000 번째 row insert 완료
132100 번째 row insert 완료
132200 번째 row insert 완료
132300 번째 row insert 완료
132400 번째 row insert 완료
132500 번째 row insert 완료
132600 번째 row insert 완료
132700 번째 row insert 완료
132800 번째 row insert 완료
132900 번째 row insert 완료
133000 번째 row insert 완료
133100 번째 row insert 완료
133200 번째 row insert 완료
133300 번째 row insert 완료
133400 번째 row insert 완료
133500 번째 row insert 완료
133600 번째 row insert 완료
133700 번째 row insert 완료
133800 번째 row insert 완료
133900 번째 row insert 완료
134000 번째 row insert 완료
134100 번째 row insert 완료
134200 번째 row insert 완료
134300 번째 row insert 완료
134400 번째 row insert 완료
134500 번째 row insert 완료
134600 번째 row insert 완료
134700 번째 row insert 완료
134800 번째 row insert 완료
134900 번째 row insert 완료
135000 번째 row insert 완료
135100 번째 row insert 완료
135200 번째 row insert 완료
135300 번째 row insert 완료
135400 번째 row insert 완료
135500 번째 row insert 완료
135600 번째 row insert 완료
135700 번째 row insert 완료
135800 번째 row insert 완료
135900 번째 row insert 완료
136000 번째 row insert 완료
136100 번째 row insert 완료
136200 번째 row insert 완료
136300 번째 row insert 완료
136400 번째 row insert 완료
136500 번째 row insert 완료
136600 번째 row insert 완료
136700 번째 row insert 완료
136800 번째 row insert 완료
136900 번째 row insert 완료
137000 번째 row insert 완료
137100 번째 row insert 완료
137200 번째 row insert 완료
137300 번째 row insert 완료
137400 번째 row insert 완료
137500 번째 row insert 완료
137600 번째 row insert 완료
137700 번째 row insert 완료
137800 번째 row insert 완료
137900 번째 row insert 완료
138000 번째 row insert 완료
138100 번째 row insert 완료
138200 번째 row insert 완료
138300 번째 row insert 완료
138400 번째 row insert 완료
138500 번째 row insert 완료
138600 번째 row insert 완료
138700 번째 row insert 완료
138800 번째 row insert 완료
138900 번째 row insert 완료
139000 번째 row insert 완료
139100 번째 row insert 완료
139200 번째 row insert 완료
139300 번째 row insert 완료
139400 번째 row insert 완료
139500 번째 row insert 완료
139600 번째 row insert 완료
139700 번째 row insert 완료
139800 번째 row insert 완료
139900 번째 row insert 완료
140000 번째 row insert 완료
140100 번째 row insert 완료
140200 번째 row insert 완료
140300 번째 row insert 완료
140400 번째 row insert 완료
140500 번째 row insert 완료
140600 번째 row insert 완료
140700 번째 row insert 완료
140800 번째 row insert 완료
140900 번째 row insert 완료
141000 번째 row insert 완료
141100 번째 row insert 완료
141200 번째 row insert 완료
141300 번째 row insert 완료
141400 번째 row insert 완료
141500 번째 row insert 완료
141600 번째 row insert 완료
141700 번째 row insert 완료
141800 번째 row insert 완료
141900 번째 row insert 완료
142000 번째 row insert 완료
142100 번째 row insert 완료
142200 번째 row insert 완료
142300 번째 row insert 완료
142400 번째 row insert 완료
142500 번째 row insert 완료
142600 번째 row insert 완료
142700 번째 row insert 완료
142800 번째 row insert 완료
142900 번째 row insert 완료
143000 번째 row insert 완료
143100 번째 row insert 완료
143200 번째 row insert 완료
143300 번째 row insert 완료
143400 번째 row insert 완료
143500 번째 row insert 완료
143600 번째 row insert 완료
143700 번째 row insert 완료
143800 번째 row insert 완료
143900 번째 row insert 완료
144000 번째 row insert 완료
144100 번째 row insert 완료
144200 번째 row insert 완료
144300 번째 row insert 완료
144400 번째 row insert 완료
144500 번째 row insert 완료
144600 번째 row insert 완료
144700 번째 row insert 완료
144800 번째 row insert 완료
144900 번째 row insert 완료
145000 번째 row insert 완료
145100 번째 row insert 완료
145200 번째 row insert 완료
145300 번째 row insert 완료
145400 번째 row insert 완료
145500 번째 row insert 완료
145600 번째 row insert 완료
145700 번째 row insert 완료
145800 번째 row insert 완료
145900 번째 row insert 완료
146000 번째 row insert 완료