# 데이터 import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('master.csv')

In [3]:
df.head()

,P_SEQ,M_SEQ,M_NAME,A_SEQ,A_NAME,A_UNIT,A_PRICE,P_YEAR_MONTH,ADD_COL,P_DATE,M_TYPE_CODE,M_TYPE_NAME,M_GU_CODE,M_GU_NAME
0,1758234.0,62.0,후암시장,305.0,"사과(부사, 300g)",1개,1500,2022-06,국내산 부사,2022-06-24,1,전통시장,170000,용산구
1,1758235.0,62.0,후암시장,306.0,"배(신고, 600g)",1개,3000,2022-06,국내산 신고,2022-06-24,1,전통시장,170000,용산구
2,1758236.0,62.0,후암시장,307.0,배추(2.5~3kg),1포기,5000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구
3,1758237.0,62.0,후암시장,308.0,무(1kg),1개,1500,2022-06,국내산 흙무,2022-06-24,1,전통시장,170000,용산구
4,1758238.0,62.0,후암시장,309.0,양파(1.5kg망),1망 1.5kg,3000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구

In [4]:
cols = ['M_SEQ', 'M_NAME', 'M_TYPE_NAME']

In [5]:
market_df = df[cols]

In [6]:
market_df['M_SEQ'].astype(int)

0          62
1          62
2          62
3          62
4          62
         ...
381995     26
381996    210
381997    206
381998    133
381999    103
Name: M_SEQ, Length: 382000, dtype: int32

In [7]:
market_df['M_SEQ'] = market_df['M_SEQ'].astype(int)

C:\Users\l2t\AppData\Local\Temp\ipykernel_15688\2137193816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_df['M_SEQ'] = market_df['M_SEQ'].astype(int)

In [8]:
# 결측값
market_df.isnull().sum()

M_SEQ          0
M_NAME         0
M_TYPE_NAME    0
dtype: int64

In [9]:
market_df['m_code'] = market_df['M_SEQ']

C:\Users\l2t\AppData\Local\Temp\ipykernel_15688\4030204285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_df['m_code'] = market_df['M_SEQ']

In [10]:
market_df.drop(['m_code'], axis=1, inplace=True)

C:\Users\l2t\AppData\Local\Temp\ipykernel_15688\2960358004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_df.drop(['m_code'], axis=1, inplace=True)

In [11]:
market_df.rename(columns= {
    'M_SEQ' : 'm_code',
    'M_NAME' : 'm_name',
    'M_TYPE_NAME' : 'm_type'
}, inplace=True)

C:\Users\l2t\AppData\Local\Temp\ipykernel_15688\2080889185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_df.rename(columns= {

In [12]:
market_df

        m_code     m_name m_type
0           62       후암시장   전통시장
1           62       후암시장   전통시장
2           62       후암시장   전통시장
3           62       후암시장   전통시장
4           62       후암시장   전통시장
...        ...        ...    ...
381995      26       신창시장   전통시장
381996     210     상계중앙시장   전통시장
381997     206  하나로클럽 미아점   대형마트
381998     133     원당종합시장   전통시장
381999     103       신영시장   전통시장

[382000 rows x 3 columns]

In [13]:
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382000 entries, 0 to 381999
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   m_code  382000 non-null  int32
 1   m_name  382000 non-null  object
 2   m_type  382000 non-null  object
dtypes: int32(1), object(2)
memory usage: 7.3+ MB

In [14]:
# 마켓코드
print(sorted(list(market_df['m_code'].unique())))

[1, 2, 6, 8, 10, 11, 13, 14, 15, 16, 19, 20, 21, 22, 25, 26, 27, 28, 31, 32, 33, 38, 40, 42, 44, 45, 49, 51, 53, 55, 56, 60, 62, 63, 66, 68, 72, 73, 74, 75, 78, 80, 82, 84, 85, 86, 88, 90, 91, 92, 94, 96, 98, 100, 102, 103, 108, 109, 110, 112, 114, 115, 116, 120, 121, 122, 123, 127, 129, 130, 133, 134, 135, 136, 140, 145, 146, 147, 148, 151, 153, 154, 199, 200, 202, 205, 206, 207, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229]

In [15]:
trad_lst = list(market_df[market_df['m_type'] == '전통시장']['m_name'].unique())

In [16]:
mall_lst = list(market_df[market_df['m_type'] == '대형마트']['m_name'].unique())

In [17]:
trad_lst = [[name,0] for name in trad_lst]
mall_lst= [[name, 1] for name in mall_lst]

In [18]:
merged_data = trad_lst + mall_lst

In [23]:
cols = ['m_name', 'm_type']

market_df = pd.DataFrame(merged_data, columns=cols)

In [24]:
market_df

            m_name  m_type
0             후암시장       0
1          영등포전통시장       0
2           대림중앙시장       0
3             용문시장       0
4             망원시장       0
..             ...     ...
103  이마트 에브리데이 창동점       1
104       롯데마트 구로점       1
105    2001아울렛 불광점       1
106          애경백화점       1
107      그랜드마트 신촌점       1

[108 rows x 2 columns]

In [25]:
mart_lst = ['광장시장','통인시장','롯데백화점 명동본점','신세계백화점 본점',
'서울중앙시장','남대문시장','이마트 청계천점','롯데마트 서울역점',
'후암시장','용문시장','농협하나로마트 용산점','이마트 용산점',
'금남시장','뚝도시장','이마트 성수점','이마트 왕십리점',
'노룬산골목시장','자양골목시장','롯데마트 강변점','이마트 자양점',
'경동시장','청량리종합시장','롯데백화점 청량리점','홈플러스 동대문점',
'동원시장','우림시장','홈플러스 면목점','이마트 상봉점',
'장위전통시장','돈암제일시장','현대백화점 미아점','이마트 미아점',
'숭인시장','수유재래시장','농협하나로마트 미아점','롯데백화점 미아점',
'신창시장','방학동 도깨비시장','이마트 창동점','홈플러스 방학점',
'상계중앙시장','공릉동 도깨비시장','홈플러스 중계점','롯데백화점 노원점',
'대조시장','대림시장','이마트 은평점','NC백화점 불광점','독립문영천시장',
'인왕시장','롯데슈퍼 유진점','현대백화점 신촌점',
'망원시장','마포농수산물시장','농협하나로마트 신촌점','홈플러스 월드컵점',
'신영시장','목3동시장','홈플러스 목동점','이마트 목동점',
'화곡본동시장','송화시장','이마트 가양점','홈플러스 익스프레스 등촌점',
'남구로시장','고척근린시장','이마트 신도림점','NC백화점 신구로점',
'별빛남문시장','현대시장','홈플러스 독산점','홈플러스 시흥점',
'영등포 전통시장','대림중앙시장','이마트 여의도점','홈플러스 영등포점',
'남성시장','관악신사시장','이마트 이수점','롯데백화점 영등포점',
'신원시장','원당종합시장','롯데백화점 관악점','세이브마트 신림본점',
'방배종합시장','신세계백화점 강남점','뉴코아아울렛 강남점','농협하나로마트 양재점',
'청담삼익시장','도곡시장','롯데백화점 강남점','이마트 역삼점',
'방이시장','마천중앙시장','홈플러스 잠실점','롯데백화점 잠실점',
'둔촌역전통시장','암사종합시장','홈플러스 강동점','이마트 명일점']

In [26]:
market_df = market_df[market_df['m_name'].isin(mart_lst)]

In [27]:
# 폐점된 상점 제외
market_df = market_df.reset_index(drop=True)

In [28]:
market_df

       m_name  m_type
0        후암시장       0
1      대림중앙시장       0
2        용문시장       0
3        망원시장       0
4    마포농수산물시장       0
..        ...     ...
79  현대백화점 신촌점       1
80    이마트 창동점       1
81   홈플러스 방학점       1
82    이마트 가양점       1
83  현대백화점 미아점       1

[84 rows x 2 columns]

# market_retail 데이터 조회 코드

In [ ]:
# # market_retail 데이터

# import pymysql

# db = pymysql.connect(host="db-1.cnt4cbkbsgdt.us-east-1.rds.amazonaws.com",
#                      port=3306,
#                      user='admin',
#                      passwd='12345678',
#                      db='public_api',
#                      charset='utf8')

# sql = """
#     select * from market_retail;
# """

# cursor.execute(sql)
# market_retail = []

# for row in cursor.fetchall():
#     print(row)

# market_retail 데이터 삽입 코드

In [ ]:
market_df

In [ ]:
# import pymysql

# db = pymysql.connect(host="db-1.cnt4cbkbsgdt.us-east-1.rds.amazonaws.com",
#                      port=3306,
#                      user='admin',
#                      passwd='12345678',
#                      db='public_api',
#                      charset='utf8')

In [ ]:
# # 전통시장 데이터 삽입
# for idx, row in market_df[market_df['m_type'] == 0].iterrows():
#     sql = f"INSERT INTO market_retail (m_code, loc, m_name, m_type) VALUES('T{idx + 1}', NULL,  '{row['m_name']}', {row['m_type']})"
#     cursor.execute(sql)
    
# db.commit()

In [ ]:
# # 대형마트 데이터 삽입
# for idx, row in market_df[market_df['m_type'] == 1].iterrows():
#     sql = f"INSERT INTO market_retail (m_code, loc, m_name, m_type) VALUES('M{idx - 41}', NULL, '{row['m_name']}', {row['m_type']})"
#     cursor.execute(sql)
# db.commit()

In [ ]:
# # market_retail 데이터

# sql = """
#     select * from market_retail;
# """

# cursor.execute(sql)
# market_retail = []

# for row in cursor.fetchall():
#     market_retail.append({
#         "m_code" : row[0],
#         "loc" : "NULL",
#         "m_name" : row[2],
#         "m_type" : row[3]
#     })

# csv 파일 저장

In [ ]:
# market_df.to_csv('./result/market_retail.csv', index=False)